body {
	font-family:Quicksand, sans-serif;
	font-weight:300;
	font-size:1.2em;

	--color1:#cbd4c2;
	--color2:#cdd8df; 
	--color3:#92b4a7; 
	--color4:#e7decd; 
	--color5:#8fb98d; 
	--color6:#c5dac1;
	--color7:#d6e5e3; 
	--color8:#bcd0c7;
	--gap:16px;

	background-color:var(--color1);
	background-image:url("lilypad.png");
	color:black;
	margin:var(--gap);
}
p {
	margin:.25em 0;
}
h1 {
	font-size:2.5em;
	font-weight:700;
	margin:.25em 0;
}
h2 {
	font-size:1.5em;
	font-weight:500;
	margin:.15em 0;
}
#reset {
	position:fixed;
	bottom:calc(2 * var(--gap));
	right:calc(2 * var(--gap));
}
#quiz-container {
	background-color:var(--color6);
	border-radius:var(--gap);
	padding:var(--gap);
	border:1px solid black;
}
.intro {
	font-size:1.1em;
	padding-bottom:.5em;
}
#journal-container {
	display:grid;
	grid-template-columns:2fr 1fr;
	grid-template-areas:
		"journal frog"
		"log log";
	gap:var(--gap);
	margin:auto;
}
#journal-panel, #frog-panel, #log-panel {
	background-color:var(--color6);
	border-radius:var(--gap);
	padding:var(--gap);
	border:1px solid black;
}
#journal-panel {
	grid-area:journal;
	display:flex;
	flex-direction:column;
}
.entryHeader {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	border-bottom:black dashed 1px;
	align-items:baseline;
}
.entry {
	padding-bottom:var(--gap);
}
#frog-panel {
	grid-area:frog;
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:var(--gap);
	padding-bottom:var(--gap);
}
#frog-fact, #frog-link {
	padding:var(--gap) 0;
}
#log-panel {
	grid-area:log;
}
a {
	font-weight:500;
	color:black;
}
img {
	width:30vw;
	height:30vw;
	border-radius:var(--gap) var(--gap) 0 0;
}
section, .q, #journal-prompt {
	display:flex;
	flex-direction:column;
}
.q {
	padding-bottom:var(--gap);
}
textarea {
	position:block;
	height:250px;
	width:95%;
	background-color:offwhite;
	border-radius:6px;
	margin:var(--gap) 0;
	flex-flow:column;
	font-size:1.5em;
	font-family:Quicksand, sans-serif;
	font-weight:300;
	padding:calc(var(--gap) / 2) var(--gap);
}
button {
	height:50px;
	width:400px;
	background-color:var(--color4);
	font-size:1.5em;
	border-radius:calc(var(--gap) / 2);
}
.q.invisible, #journal-container.invisible,#quiz-container.invisible {
	display:none;
}